<footer class="page-footer font-small  bg-info pt-4">
 <div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white">Siga-nos nas redes sociais!</h4>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="bekacristine@gmail.com" target="_blank" class="iconEmail">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                    
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/rebeka-cardoso-sena-51189172/" target="_blank" class="iconLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                   
                </li>

                <li>
                    <a href="https://github.com/rebekacardososena" target="_blank" class="iconGithub">
                        <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                 
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2022 Copyright  </span>
        <a class="text-light" target="_blank" href="https://www.linkedin.com/in/rebeka-cardoso-sena-51189172/">Rebeka Sena</a>
    </div>

</footer>
