<div class="container-fluid bg-c">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <h1 class="text-center mb-3 font-c">Entrar</h1>
                
                    <div class="form-group">
                        <label for="usuario"></label>
                        <input class="form-control bd bg-m" type="text" name="usuario" id="usuario"
                        placeholder="Usuário">
                    </div>

                       
                    <div class="form-group">
                        <label for="senha"></label>
                        <input class="form-control bd bg-m" type="password" name="senha" id="senha"
                        placeholder="Senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success bd">Entrar</button>
                    </div>
                  
                    <hr class="mt-5 mb-5">

                    <p class="text-center">
                        Não tem uma conta? <a href="" >Cadastre-se</a>
                    </p>
                </div>
            </div>
      
        </div>

        <div class="col-md-6" id="img-bg"></div>
   
    </div>

</div>
